Experiment: 
What's the correlation between the first N candles and the direction of the N+1th candle? 


Process: 
- Load data
- Transform as such:
  - Date | open | close | delta | UP | DOWN

In [43]:
import pandas as pd

# open all the files in the data directory as dataframes

tickers = ['TSLA']
frames = []

for e in tickers: 
    filename = '../data/' + e + '_1min_firstratedata.csv'
    df = pd.read_csv(filename)
    df['ticker'] = e
    frames.append(df)

df = pd.concat(frames)
df.describe()

,open,high,low,close,volume
count,230816.000000,230816.000000,230816.000000,230816.000000,2.308160e+05
mean,205.326511,205.454606,205.195887,205.325034,1.224857e+05
std,44.188170,44.199151,44.176131,44.188387,2.069744e+05
min,101.220000,101.390000,101.200000,101.220000,1.000000e+02
25%,176.703900,176.840000,176.610000,176.708750,1.822000e+03
50%,198.010000,198.170000,197.850000,198.003250,1.215500e+04
75%,245.190000,245.330000,245.050025,245.190000,1.950722e+05
max,298.936400,299.290000,298.710000,298.960900,1.706185e+07

In [44]:
# Get the earliest and latest dates for each day 

df["timestamp"] = pd.to_datetime(df["timestamp"])
df['date'] = df['timestamp'].dt.date
df['time'] = df['timestamp'].dt.time
df['timestamp'] = pd.to_datetime(df['timestamp'], format='%Y-%m-%d %H:%M:%S')   

# Find the indices of the earliest and latest rows for each day
earliest_indices = df.groupby('date')['time'].idxmin()
latest_indices = df.groupby('date')['time'].idxmax()

# Concatenate the indices and drop duplicates
indices_to_keep = pd.concat([earliest_indices, latest_indices]).drop_duplicates()

# Create a new DataFrame with only the selected rows
result_df = df.loc[indices_to_keep]

result_df = result_df.sort_values(by=['date'])

result_df.to_csv('../data/dump.csv', index=False)