In [38]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import pandas as pd

def load_data(ticker):

    filename = '../data/' + ticker + '_1min_firstratedata.csv'
    df = pd.read_csv(filename)
    df['ticker'] = ticker

    df["timestamp"] = pd.to_datetime(df["timestamp"])
    df["date"] = df["timestamp"].dt.date
    df["time"] = df["timestamp"].dt.time
    return df

ticker = 'SPY'
df = load_data(ticker)

In [39]:
def RSI(df, n):
    "function to calculate RSI"
    delta = df["close"].diff()
    delta = delta[1:]
    up, down = delta.copy(), delta.copy()
    up[up < 0] = 0
    down[down > 0] = 0
    df["up"] = up.round(4)
    df["down"] = down.round(4)
    AVG_Gain = df["up"].rolling(window=n).mean()
    AVG_Loss = abs(df["down"].rolling(window=n).mean())
    RS = AVG_Gain / AVG_Loss
    RSI = 100.0 - (100.0 / (1.0 + RS))
    df["RSI_14"] = RSI.round(4)
    df = df.drop(columns=["up", "down"])

    return df

df = RSI(df, 14)

In [40]:
# print the first 20 rows
df.head(20)
df['RSI_14'].describe()

count    207810.000000
mean         50.475689
std          16.468781
min           0.000000
25%          39.130400
50%          50.368100
75%          61.904800
max         100.000000
Name: RSI_14, dtype: float64

In [41]:
import datetime

df = df[df["time"] >= datetime.time(9, 0, 0)]
df = df[df["time"] <= datetime.time(16, 0, 0)]
df.head(20)

,timestamp,open,high,low,close,volume,ticker,date,time,RSI_14
274,2022-09-30 09:00:00,363.52,364.50,363.22,363.30,84336,SPY,2022-09-30,09:00:00,39.3258
275,2022-09-30 09:01:00,363.30,363.60,363.17,363.60,11472,SPY,2022-09-30,09:01:00,49.0909
276,2022-09-30 09:02:00,363.64,363.84,363.64,363.70,9543,SPY,2022-09-30,09:02:00,53.9033
277,2022-09-30 09:03:00,363.60,363.60,363.17,363.22,107253,SPY,2022-09-30,09:03:00,48.3333
278,2022-09-30 09:04:00,363.22,363.23,362.74,362.74,75034,SPY,2022-09-30,09:04:00,44.0729
279,2022-09-30 09:05:00,362.80,362.83,362.64,362.64,19552,SPY,2022-09-30,09:05:00,38.8013
280,2022-09-30 09:06:00,362.71,362.75,362.57,362.57,12858,SPY,2022-09-30,09:06:00,34.0984
281,2022-09-30 09:07:00,362.61,362.76,362.56,362.69,20196,SPY,2022-09-30,09:07:00,40.9894
282,2022-09-30 09:08:00,362.62,362.67,362.30,362.31,76020,SPY,2022-09-30,09:08:00,34.0836
283,2022-09-30 09:09:00,362.38,362.53,362.36,362.47,9493,SPY,2022-09-30,09:09:00,25.1825
284,2022-09-30 09:10:00,362.44,362.66,362.44,362.51,36637,SPY,2022-09-30,09:10:00,25.9928
285,2022-09-30 09:11:00,362.48,362.61,362.41,362.55,11932,SPY,2022-09-30,09:11:00,28.6792
286,2022-09-30 09:12:00,362.53,362.69,362.30,362.33,42055,SPY,2022-09-30,09:12:00,27.6364
287,2022-09-30 09:13:00,362.39,362.61,362.39,362.50,1797,SPY,2022-09-30,09:13:00,32.0690
288,2022-09-30 09:14:00,362.52,362.70,362.52,362.70,11549,SPY,2022-09-30,09:14:00,39.5105
289,2022-09-30 09:15:00,362.70,362.70,362.43,362.48,4085,SPY,2022-09-30,09:15:00,29.8561
290,2022-09-30 09:16:00,362.51,362.53,362.47,362.51,1088,SPY,2022-09-30,09:16:00,28.0443
291,2022-09-30 09:17:00,362.56,362.67,362.50,362.61,3900,SPY,2022-09-30,09:17:00,36.9099
292,2022-09-30 09:18:00,362.61,362.65,362.54,362.65,8080,SPY,2022-09-30,09:18:00,47.6190
293,2022-09-30 09:19:00,362.64,362.70,362.52,362.52,1880,SPY,2022-09-30,09:19:00,46.8750

In [42]:
# delete columns high and low
df = df.drop(columns=["open", "high", "low", "close", "volume"])
df.head(20)

              timestamp ticker        date      time   RSI_14
274 2022-09-30 09:00:00    SPY  2022-09-30  09:00:00  39.3258
275 2022-09-30 09:01:00    SPY  2022-09-30  09:01:00  49.0909
276 2022-09-30 09:02:00    SPY  2022-09-30  09:02:00  53.9033
277 2022-09-30 09:03:00    SPY  2022-09-30  09:03:00  48.3333
278 2022-09-30 09:04:00    SPY  2022-09-30  09:04:00  44.0729
279 2022-09-30 09:05:00    SPY  2022-09-30  09:05:00  38.8013
280 2022-09-30 09:06:00    SPY  2022-09-30  09:06:00  34.0984
281 2022-09-30 09:07:00    SPY  2022-09-30  09:07:00  40.9894
282 2022-09-30 09:08:00    SPY  2022-09-30  09:08:00  34.0836
283 2022-09-30 09:09:00    SPY  2022-09-30  09:09:00  25.1825
284 2022-09-30 09:10:00    SPY  2022-09-30  09:10:00  25.9928
285 2022-09-30 09:11:00    SPY  2022-09-30  09:11:00  28.6792
286 2022-09-30 09:12:00    SPY  2022-09-30  09:12:00  27.6364
287 2022-09-30 09:13:00    SPY  2022-09-30  09:13:00  32.0690
288 2022-09-30 09:14:00    SPY  2022-09-30  09:14:00  39.5105
289 2022-09-30 09:15:00    SPY  2022-09-30  09:15:00  29.8561
290 2022-09-30 09:16:00    SPY  2022-09-30  09:16:00  28.0443
291 2022-09-30 09:17:00    SPY  2022-09-30  09:17:00  36.9099
292 2022-09-30 09:18:00    SPY  2022-09-30  09:18:00  47.6190
293 2022-09-30 09:19:00    SPY  2022-09-30  09:19:00  46.8750

In [43]:
reshaped_df = df.pivot(index='time', columns='date', values='RSI_14')

In [44]:
reshaped_df.head(20)

timestamp,2022-09-30 09:00:00,2022-09-30 09:01:00,2022-09-30 09:02:00,2022-09-30 09:03:00,2022-09-30 09:04:00,2022-09-30 09:05:00,2022-09-30 09:06:00,2022-09-30 09:07:00,2022-09-30 09:08:00,2022-09-30 09:09:00,...,2023-09-29 15:51:00,2023-09-29 15:52:00,2023-09-29 15:53:00,2023-09-29 15:54:00,2023-09-29 15:55:00,2023-09-29 15:56:00,2023-09-29 15:57:00,2023-09-29 15:58:00,2023-09-29 15:59:00,2023-09-29 16:00:00
time,,,,,,,,,,,,,,,,,,,,,
09:00:00,39.3258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09:01:00,NaN,49.0909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09:02:00,NaN,NaN,53.9033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09:03:00,NaN,NaN,NaN,48.3333,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09:04:00,NaN,NaN,NaN,NaN,44.0729,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09:05:00,NaN,NaN,NaN,NaN,NaN,38.8013,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09:06:00,NaN,NaN,NaN,NaN,NaN,NaN,34.0984,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09:07:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.9894,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09:08:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0836,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09:09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.1825,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09:11:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09:12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09:13:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09:14:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09:16:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09:17:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09:18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09:19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN