In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import sys
sys.path.append('../')
import utilities


import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [15]:
df = pd.read_csv('valued_AAPL.csv')

In [16]:
df.head(10)

,timestamp,open,high,low,close,volume,ticker,date,time,minute,...,sma100,bb_upper,bb_lower,atr14,atr28,atr56,obv,vwap,mfi,value
0,2005-01-03 09:30:00,0.000193,0.000206,0.000196,0.000211,0.084400,AAPL,2005-01-03,09:30:00,0.000000,...,NaN,NaN,NaN,0.000888,0.000585,NaN,0.000000,0.001895,NaN,0.455013
1,2005-01-03 09:31:00,0.000212,0.000217,0.000211,0.000212,0.021187,AAPL,2005-01-03,09:31:00,0.002564,...,NaN,NaN,NaN,0.000957,0.000669,NaN,0.000005,0.001905,NaN,0.529563
2,2005-01-03 09:32:00,0.000210,0.000209,0.000199,0.000197,0.013935,AAPL,2005-01-03,09:32:00,0.005128,...,NaN,NaN,NaN,0.001162,0.000752,NaN,0.000005,0.001896,NaN,0.012853
3,2005-01-03 09:33:00,0.000197,0.000214,0.000195,0.000196,0.014107,AAPL,2005-01-03,09:33:00,0.007692,...,NaN,NaN,NaN,0.001367,0.000920,NaN,0.000005,0.001888,NaN,0.012853
4,2005-01-03 09:34:00,0.000196,0.000214,0.000177,0.000177,0.027102,AAPL,2005-01-03,09:34:00,0.010256,...,NaN,NaN,NaN,0.001845,0.001170,NaN,0.000005,0.001853,NaN,0.007712

In [17]:
selection = df.head(1000)
selection = utilities.market_hours_only(selection)
selection.head()

# plot the close and value columns
plt.plot(selection['close'])
plt.plot(selection['value'])

plt.show()

TypeError: '>=' not supported between instances of 'str' and 'datetime.time'